//Colors
$primaryColor: #ffffff;
$secondaryColor: #000000;
$textColor: #665C70;
$iconColor1: rgb(131, 201, 224);
$iconColor2: rgb(29, 92, 173);
$iconColor3: rgb(255, 0, 0);
$buildingiconColor : #52489C;
$charticonColor: #F0686A;
$bulbiconColor: #54C5B6;
$backgroundColor: #F7F9FC;
$borderColor: #F7F7F7;
$blockbgColor1: #3791FC;
$blockbgColor2: #5BD0B6;
$blockbgColor3: #93B1F9;