html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.header-wrap{
    margin-top: 30px;
    padding: 20px 0px;
    background-color: $secondaryColor;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.banner {
    background-image: url("../images/hero-bg1.jpg");
    background-size: cover;
    position: relative;
    height: 700px;
    @include respond-below(xl) {
        height: auto;
        padding-bottom: 30px;
    } 
}

.top-sec {
    padding-top: 15px;
}

.header-text {
    color: $primaryColor;
}

.logo-sec h1 {
    font-size: 36px;
    color: $primaryColor;
    a {
        text-decoration: none;
    }
}

.menu-hamburger {
    @include respond-above(lg) {
        display: none;
    } 
    @include respond-below(lg) {
        display: block;
    }    
}

.menu-bar {
    @include respond-below(lg) {
        display: none;
    }     
}

.menu-list li {
    list-style-type: none;
    padding: 0 12px;
    li a {
        color: $primaryColor;
        text-decoration: none;
        font-size: 18px;
    }
    li a:hover {
        color: -webkit-link;
        text-decoration: underline;
    }
}

.banner-content {
    padding: 20px 100px 0 200px;
    width: 55%;
    @include respond-between(lg,xl) {
        width: 65%;
    }
    @include respond-below(lg){
        padding: 20px 50px 0 100px;
        width: 70%;
    } 
    @include respond-below(md) {
        padding: 20px 50px 0 50px;
        width: 100%;
    }
    h2 {
        color: $primaryColor;
        font-size: 54px;
        @include respond-below(xl){
            font-size: 45px; 
        }
    }
    p {
        color: $primaryColor;
        font-size: 22px;  
    }
}

.primary-button {
    padding: 20px 30px;
    background-color: $secondaryColor;
    color: $primaryColor;
    border: none;
    text-transform: uppercase;
    margin-top: 30px;
}

.icon-bar a {
    padding: 0 10px;
}

.fa-twitter {
    color: $iconColor1;
}

.fa-facebook-f,
.fa-linkedin-in {
    color: $iconColor2;
}

.fa-youtube {
    color: $iconColor3;
}

.fa-bullseye {
    color: $primaryColor;
    font-size: 35px;
    padding: 10px 10px 0 0;
}

.sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 30px;
    right:0;
    background-color: $secondaryColor;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
        padding: 8px 10px 20px 20px;
        font-weight: bold;
        display: block;
        transition: 0.3s;  
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        border: none;
    }
}

.openbtn {
    background-color: transparent;
    border: none;
    margin-top: 15px;
}